{{define "footer_layout"}}

    <div class="navbar navbar-default footer navbar-fixed-bottom  text-center" id="footerPage" >
        <span class="row">&copy; Copyright 2017 KoreIngeniaria  -Todos los derechos reservados.<b>[2017/05/12  13:07 p.m Demo v0.6]</b></span>
    </div>
{{end}}