{{define "header_layout"}}

<nav class="navbar navbar-default" id="cabNavegacion">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand imgLogo" href="#" >
                 <img alt="kore" src="../../img/logo.png" >
            </a>
            <a href="#" class="btn nav navbar-brand" role="button" id="iconMenuLateral" aria-expanded="false">
                <span class="glyphicon glyphicon glyphicon-th-list" aria-hidden="true"></span>
            </a>
            
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <!--<li><div id="main"><span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span></div></li>-->
                <li class="active"><a href="/" id="linkInicio" ><span id="iconHome" class="glyphicon glyphicon-home"></span></a></li>
            </ul>
      <!--
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Buscar">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      -->
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#" class="imgUser" ><img alt="user" src="../../img/avatar_small.jpg" ></a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="nameUser">{{.Name}}<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/Logout">Salir</a></li>                     
                    </ul>
                    
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div id="Loading">
    <img class="waitgif" alt="Cargando..." src="/img/wait8.gif" >
</div>
<script>
    $.ajax({
        method: "GET",
        url: "http://localhost:8089/",
        dataType : 'JSON',
        success:function( data ) {
            $.ajax({   
                method: "GET",
                url: "/Login/saveMac",
                data:{data},
                success:function( dataa ) {
                    console.log(dataa);
                }
             });
        },
        error : function(xhr, status) {
            console.log('Disculpe, existió un problema:'+status);
        },
    });
</script>

{{end}}
