<!-- ############################## <  VISTA ALTA  > #####################################-->
<!-- ############################## <  ClienteAlta.html  > #####################################-->
<!-- ############################## <  VISTA GENERAL > #####################################-->


<!-- INICIO PAGINA -->
<!DOCTYPE html>
<html lang="es">

<!-- INICIO CABECERA ################################################################################-->

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="icon" type="image/png" href="../img/k.ico" />
	<!--#################### ESTILOS GENERALES #########################-->
	{{template "styles_layout"}}
	<!--#################### TUS ESTILOS ###############################-->
	<link rel="stylesheet" href="/Plugins/Kendo/styles/kendo.common.min.css" />
	<link rel="stylesheet" href="/Plugins/Kendo/styles/kendo.default.min.css" />
	<link rel="stylesheet" href="/Plugins/Kendo/styles/kendo.default.mobile.min.css" />
	<link rel="stylesheet" href="../../Locales/Cliente/css/Cliente.css" />
	<link rel="stylesheet" href="/Plugins/bootstrap-datepicker-1.6.4-dist/css/bootstrap-datepicker3.css" />

	<!--#################### SCRIPTS GENERALES #########################-->
	{{template "scripts_layout"}}
	<!--#################### TUS SCRIPTS #########################-->
	<script src="/Plugins/Kendo/js/kendo.all.min.js" type="text/javascript"></script>
	<script src="/Plugins/bootstrap-datepicker-1.6.4-dist/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
	 <script src="/Plugins/bootstrap-datepicker-1.6.4-dist/locales/bootstrap-datepicker.es.min.js" charset="UTF-8"></script>
	<script src="../../Locales/Cliente/js/Cliente.js"></script>
	<script src="../../Locales/Cliente/js/FunctionsCliente.js"></script>
	<script src="../../Locales/Cliente/js/ClienteKendo.js"></script>
	<!--#################### CABECERA #########################-->
	{{template "header_layout" .SSesion }}

	<script type="application/javascript" src="http://jsonip.appspot.com/?callback=getip"></script>
	<script type="application/javascript">
		function getip(json){
		alert(json.ip);    // alerts the ip address
		}
	</script>

</head>
<!-- FINAL CABECERA ###################################################################################-->

<!-- INICIO BODY -->

<body>

	{{template "menu_layout" }}
	<div class="col-md-10" style="padding-bottom: 5%;" id="SeccionCuerpo">
		<div id="MensagesClientes">
			{{if .SEstado}} {{if .SMsj}}
			<div class="alert alert-success alert-dismissible" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<strong><h3>{{.SMsj}}</h3></strong>
			</div>
			{{end}} {{else}} {{if .SMsj}}
			<div class="alert alert-danger alert-dismissible" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<strong><h3>{{.SMsj}}</h3></strong>
			</div>
			{{end}} {{end}}
		</div>

		<h2 class="text-center"> <strong>Alta de Clientes </strong></h2>
		<form id="Form_Alta_Cliente" class="form-horizontal" method="POST">

			<div class="form-group">
				<label class="col-sm-4 control-label" for="Tipo">Tipo :</label> {{if .Cliente.ETipoCliente.IEstatus}}
				<div class="col-sm-5 has-feedback has-error">

					<select id="Tipo" name="Tipo" class="form-control" aria-required="true" aria-describedby="Tipo-error"
					 aria-invalid="true">
						{{.Cliente.ETipoCliente.Ihtml}}
					</select>
					<span class="glyphicon form-control-feedback glyphicon-remove"></span>

					<em id="Tipo-error" class="error help-block">{{.Cliente.ETipoCliente.IMsj}}</em>
				</div>
				{{else}}
				<div class="col-sm-5">
					<select id="Tipo" name="Tipo" class="form-control">
											{{.Cliente.ETipoCliente.Ihtml}}
										</select>
				</div>
				{{end}}
			</div>

			<div class="form-group">
				<label class="col-sm-4 control-label" for="Nombre">Nombre:</label> {{if .Cliente.EIDPersonaCliente.ENombrePersona.IEstatus}}
				<div class="col-sm-5 has-feedback has-error">
					<input type="text" name="Nombre" id="Nombre" class="form-control" value="{{.Cliente.EIDPersonaCliente.ENombrePersona.Nombre}}"
					 aria-required="true" aria-describedby="Nombre-error" aria-invalid="true">
					<span class="glyphicon form-control-feedback glyphicon-remove"></span>

					<em id="Nombre-error" class="error help-block">{{.Cliente.EIDPersonaCliente.ENombrePersona.IMsj}}</em>
				</div>
				{{else}}
				<div class="col-sm-5">
					<input type="text" name="Nombre" id="Nombre" class="form-control" value="{{.Cliente.EIDPersonaCliente.ENombrePersona.Nombre}}">
				</div>
				{{end}}
			</div>

			<div class="form-group">
				<label class="col-sm-4 control-label" for="RFC">RFC:</label> {{if .Cliente.ERFCCliente.IEstatus}}
				<div class="col-sm-5 has-feedback has-error">
					<input type="text" name="RFC" id="RFC" class="form-control" value="{{.Cliente.ERFCCliente.RFC}}" aria-required="true" aria-describedby="RFC-error"
					 aria-invalid="true">
					<span class="glyphicon form-control-feedback glyphicon-remove"></span>
					<em id="RFC-error" class="error help-block">{{.Cliente.ERFCCliente.IMsj}}</em>
				</div>
				{{else}}
				<div class="col-sm-5">
					<input type="text" name="RFC" id="RFC" class="form-control" value="{{.Cliente.ERFCCliente.RFC}}">
				</div>
				{{end}}
			</div>
            <div id="contentPersonaFisica" >
			<div class="form-group">
				<label class="col-sm-4 control-label" for="Sexo">Sexo :</label> {{if .Cliente.EIDPersonaCliente.ESexo.IEstatus}}
				<div class="col-sm-5 has-feedback has-error">

					<select id="Sexo" name="Sexo" class="form-control" aria-required="true" aria-describedby="Tipo-error"
					 aria-invalid="true">
						{{.Cliente.EIDPersonaCliente.ESexo.Ihtml}}
					</select>
					<span class="glyphicon form-control-feedback glyphicon-remove"></span>

					<em id="Tipo-error" class="error help-block">{{.Cliente.EIDPersonaCliente.ESexo.IMsj}}</em>
				</div>
				{{else}}
				<div class="col-sm-5">
					<select id="Sexo" name="Sexo" class="form-control">
											{{.Cliente.EIDPersonaCliente.ESexo.Ihtml}}
										</select>
				</div>
				{{end}}
			</div>

			<div class="form-group">
				<label class="col-sm-4 control-label" for="FechaNacimiento">Fecha De Nacimiento:</label> {{if .Cliente.ERFCCliente.IEstatus}}
				<div class="col-sm-5 has-feedback has-error">
					<input type="text" name="FechaNacimiento" id="FechaNacimiento" class="form-control" value="{{.Cliente.ERFCCliente.RFC}}" aria-required="true" aria-describedby="RFC-error"
					 aria-invalid="true">
					<span class="glyphicon form-control-feedback glyphicon-remove"></span>
					<em id="RFC-error" class="error help-block">{{.Cliente.ERFCCliente.IMsj}}</em>
				</div>
				{{else}}
				<div class="col-sm-5">
					<input type="text" name="FechaNacimiento" id="FechaNacimiento" class="form-control" value="{{.Cliente.ERFCCliente.RFC}}">
				</div>
				{{end}}
			</div>
			</div>
			<div class="form-group">
				<label class="col-sm-4 control-label" for="Grupos">Grupos:</label> {{if .Cliente.EIDPersonaCliente.EGruposPersona.IEstatus}}
				<div class="col-sm-5 has-feedback has-error">

					<select id="Grupos" name="Grupos" multiple="multiple" class="form-control selectpicker" aria-required="true" aria-describedby="Grupos-error"
					 aria-invalid="true">
						{{.Cliente.EIDPersonaCliente.EGruposPersona.Ihtml}}
					</select>
					<span class="glyphicon form-control-feedback glyphicon-remove"></span>

					<em id="Grupos-error" class="error help-block">{{.Cliente.EIDPersonaCliente.EGruposPersona.IMsj}}</em>
				</div>
				{{else}}
				<div class="col-sm-5">

					<select id="Grupos" name="Grupos" multiple="multiple" class="form-control selectpicker" data-placeholder="Selecciona los Grupos...">
						{{.Cliente.EIDPersonaCliente.EGruposPersona.Ihtml}}
					</select>
				</div>
				{{end}}
			</div>
			<div class="form-group">
				<label class="col-sm-4 control-label" for="Predecesor">Predecesor:</label> {{if .Cliente.EIDPersonaCliente.EPredecesorPersona.IEstatus}}
				<div class="col-sm-5 has-feedback has-error">

					<select id="Predecesor" name="Predecesor" class="form-control selectpicker" aria-required="true" aria-describedby="Predecesor-error"
					 aria-invalid="true">
						{{.Cliente.EIDPersonaCliente.EPredecesorPersona.Ihtml}}
					</select>
					<span class="glyphicon form-control-feedback glyphicon-remove"></span>

					<em id="Predecesor-error" class="error help-block">{{.Cliente.EIDPersonaCliente.EPredecesorPersona.IMsj}}</em>
				</div>
				{{else}}
				<div class="col-sm-5">

					<select id="Predecesor" name="Predecesor" class="form-control selectpicker">
											{{.Cliente.EIDPersonaCliente.EPredecesorPersona.Ihtml}}
										</select>
				</div>
				{{end}}
			</div>

			<div class="form-group">
				<label class="col-sm-4 control-label" for="Almacenes">Almacenes:</label> {{if .Cliente.EAlmacenesCliente.IEstatus}}
				<div class="col-sm-5 has-feedback has-error">
					<select id="Almacenes" name="Almacenes" class="form-control selectpicker" aria-required="true" aria-describedby="Almacenes-error"
					 aria-invalid="true">
											{{.Cliente.EAlmacenesCliente.Ihtml}}
										</select>
					<span class="glyphicon form-control-feedback glyphicon-remove"></span>
					<em id="Almacenes-error" class="error help-block">{{.Cliente.EAlmacenesCliente.IMsj}}</em>
				</div>
				{{else}}
				<div class="col-sm-5">
					<select id="Almacenes" multiple="multiple" name="Almacenes" class="form-control selectpicker">
											{{.Cliente.EAlmacenesCliente.Ihtml}}
										</select>
				</div>
				{{end}}
			</div>


			<div class="form-group">
				<label class="col-sm-4 control-label" for="Estado">Estado:</label> {{if .Cliente.EDireccionesCliente.Direcciones.EEstadoDirecciones.IEstatus}}
				<div class="col-sm-5 has-feedback has-error">

					<select id="Estado" name="Estado" class="form-control selectpicker SelectEstado" aria-required="true" data-estado-select=""
					 aria-describedby="Estado-error" aria-invalid="true">
												{{.Cliente.EDireccionesCliente.Direcciones.EEstadoDirecciones.Ihtml}}
										</select>
					<span class="glyphicon form-control-feedback glyphicon-remove"></span>

					<em id="Estado-error" class="error help-block">{{.Cliente.EDireccionesCliente.Direcciones.EEstadoDirecciones.IMsj}}</em>
				</div>
				{{else}}
				<div class="col-sm-5">
					<select id="Estado" name="Estado" class="form-control selectpicker SelectEstado" data-estado-select="">
											{{.Cliente.EDireccionesCliente.Direcciones.EEstadoDirecciones.Ihtml}}
					</select>
				</div>
				{{end}}
			</div>

			<div class="form-group">
				<label class="col-sm-4 control-label" for="Municipio">Municipio:</label> {{if .Cliente.EDireccionesCliente.Direcciones.EMunicipioDirecciones.IEstatus}}
				<div class="col-sm-5 has-feedback has-error">

					<select id="Municipio" name="Municipio" class="form-control selectpicker SelectMunicipio" data-municipo-select="" aria-required="true"
					 aria-describedby="Municipio-error" aria-invalid="true">
												{{.Cliente.EDireccionesCliente.Direcciones.EMunicipioDirecciones.Ihtml}}
										</select>
					<span class="glyphicon form-control-feedback glyphicon-remove"></span>

					<em id="Municipio-error" class="error help-block">{{.Cliente.EDireccionesCliente.Direcciones.EMunicipioDirecciones.IMsj}}</em>
				</div>
				{{else}}
				<div class="col-sm-5">

					<select id="Municipio" name="Municipio" class="form-control selectpicker SelectMunicipio" data-municipo-select="">
											{{.Cliente.EDireccionesCliente.Direcciones.EMunicipioDirecciones.Ihtml}}
										</select>
				</div>
				{{end}}
			</div>

			<div class="form-group">
				<label class="col-sm-4 control-label" for="Colonia">Colonia:</label> {{if .Cliente.EDireccionesCliente.Direcciones.EColoniaDirecciones.IEstatus}}
				<div class="col-sm-5 has-feedback has-error">

					<select id="Colonia" name="Colonia" class="form-control selectpicker SelectColonia" aria-required="true" aria-describedby="Colonia-error"
					 aria-invalid="true" data-colonia-select="">
												{{.Cliente.EDireccionesCliente.Direcciones.EColoniaDirecciones.Ihtml}}
										</select>
					<span class="glyphicon form-control-feedback glyphicon-remove"></span>

					<em id="Colonia-error" class="error help-block">{{.Cliente.EDireccionesCliente.Direcciones.EColoniaDirecciones.IMsj}}</em>
				</div>
				{{else}}
				<div class="col-sm-5">

					<select id="Colonia" name="Colonia" class="form-control selectpicker SelectColonia" data-colonia-select="">
											{{.Cliente.EDireccionesCliente.Direcciones.EColoniaDirecciones.Ihtml}}
										</select>
				</div>
				{{end}}
			</div>


			<div class="form-group">
				<label class="col-sm-4 control-label" for="CP">CP:</label> {{if .Cliente.EDireccionesCliente.Direcciones.ECPDirecciones.IEstatus}}
				<div class="col-sm-5 has-feedback has-error">

					<input type="text" name="CP" id="CP" class="form-control" value="{{.Cliente.EDireccionesCliente.Direcciones.ECPDirecciones.CP}}"
					 aria-required="true" aria-describedby="CP-error" aria-invalid="true">
					<span class="glyphicon form-control-feedback glyphicon-remove"></span>

					<em id="CP-error" class="error help-block">{{.Cliente.EDireccionesCliente.Direcciones.ECPDirecciones.IMsj}}</em>
				</div>
				{{else}}
				<div class="col-sm-5">

					<input type="text" name="CP" id="CP" class="form-control" value="{{.Cliente.EDireccionesCliente.Direcciones.ECPDirecciones.CP}}">
				</div>
				{{end}}
			</div>

			<div class="form-group">
				<label class="col-sm-4 control-label" for="Calle">Calle:</label> {{if .Cliente.EDireccionesCliente.Direcciones.ECalleDirecciones.IEstatus}}
				<div class="col-sm-5 has-feedback has-error">

					<input type="text" name="Calle" id="Calle" class="form-control" value="{{.Cliente.EDireccionesCliente.Direcciones.ECalleDirecciones.Calle}}"
					 aria-required="true" aria-describedby="Calle-error" aria-invalid="true">
					<span class="glyphicon form-control-feedback glyphicon-remove"></span>

					<em id="Calle-error" class="error help-block">{{.Cliente.EDireccionesCliente.Direcciones.ECalleDirecciones.IMsj}}</em>
				</div>
				{{else}}
				<div class="col-sm-5">

					<input type="text" name="Calle" id="Calle" class="form-control" value="{{.Cliente.EDireccionesCliente.Direcciones.ECalleDirecciones.Calle}}">
				</div>
				{{end}}
			</div>

			<div class="form-group">
				<label class="col-sm-4 control-label" for="NumExterior">NumExterior:</label> {{if .Cliente.EDireccionesCliente.Direcciones.ENumExteriorDirecciones.IEstatus}}
				<div class="col-sm-5 has-feedback has-error">

					<input type="text" name="NumExterior" id="NumExterior" class="form-control" value="{{.Cliente.EDireccionesCliente.Direcciones.ENumExteriorDirecciones.NumExterior}}"
					 aria-required="true" aria-describedby="NumExterior-error" aria-invalid="true">
					<span class="glyphicon form-control-feedback glyphicon-remove"></span>

					<em id="NumExterior-error" class="error help-block">{{.Cliente.EDireccionesCliente.Direcciones.ENumExteriorDirecciones.IMsj}}</em>
				</div>
				{{else}}
				<div class="col-sm-5">

					<input type="text" name="NumExterior" id="NumExterior" class="form-control" value="{{.Cliente.EDireccionesCliente.Direcciones.ENumExteriorDirecciones.NumExterior}}">
				</div>
				{{end}}
			</div>

			<div class="form-group">
				<label class="col-sm-4 control-label" for="NumInterior">NumInterior:</label> {{if .Cliente.EDireccionesCliente.Direcciones.ENumInteriorDirecciones.IEstatus}}
				<div class="col-sm-5 has-feedback has-error">

					<input type="text" name="NumInterior" id="NumInterior" class="form-control" value="{{.Cliente.EDireccionesCliente.Direcciones.ENumInteriorDirecciones.NumInterior}}"
					 aria-required="true" aria-describedby="NumInterior-error" aria-invalid="true">
					<span class="glyphicon form-control-feedback glyphicon-remove"></span>

					<em id="NumInterior-error" class="error help-block">{{.Cliente.EDireccionesCliente.Direcciones.ENumInteriorDirecciones.IMsj}}</em>
				</div>
				{{else}}
				<div class="col-sm-5">

					<input type="text" name="NumInterior" id="NumInterior" class="form-control" value="{{.Cliente.EDireccionesCliente.Direcciones.ENumInteriorDirecciones.NumInterior}}">
				</div>
				{{end}}
			</div>
			<div class="form-group">
				<label class="col-sm-4 control-label" for="TipoDireccion">Tipo Direccion:</label> {{if .Cliente.EDireccionesCliente.Direcciones.ETipoDireccion.IEstatus}}
				<div class="col-sm-5 has-feedback has-error">

					<select id="TipoDireccion" name="TipoDireccion" class="form-control selectpicker" aria-required="true" aria-describedby="Estado-error"
					 aria-invalid="true">
												{{.Cliente.EDireccionesCliente.Direcciones.ETipoDireccion.Ihtml}}
										</select>
					<span class="glyphicon form-control-feedback glyphicon-remove"></span>

					<em id="TipoDireccion-error" class="error help-block">{{.Cliente.EDireccionesCliente.Direcciones.ETipoDireccion.IMsj}}</em>
				</div>
				{{else}}
				<div class="col-sm-5">

					<select id="TipoDireccion" name="TipoDireccion" class="form-control selectpicker">
											{{.Cliente.EDireccionesCliente.Direcciones.ETipoDireccion.Ihtml}}
										</select>
				</div>
				{{end}}
			</div>
			<div class="form-group">
				<div class="col-md-9" id="contentBotonNewDir">
					<div id="SufijosDirPersona"></div>
					<input type="hidden" name="NumDirClient" id="NumDirClient" value="{{.Cliente.EDireccionesCliente.NumDirecciones}}">
					<button id="AddNewDireccion" type="button" class="btn btn-primary pull-right btn-lg "><span class="glyphicon glyphicon-plus"></span>Agregar Direccion</button>
				</div>
			</div>
			<h3 class="text-center"><strong>Direcciones</strong></h3>
			<table class="table">
				<thead>
					<tr>
						<th>Estado</th>
						<th>Municipio</th>
						<th>Colonia</th>
						<th>Cp</th>
						<th>Calle</th>
						<th>Num. Ext</th>
						<th>Num. Int</th>
						<th>Tipo</th>
					</tr>
				</thead>
				<tbody id="cuerpoDirecciones">
					{{.Cliente.EDireccionesCliente.Ihtml}}
				</tbody>
			</table>
			<div class="row">
				<div class="col-sm-12">
					<div class="col-sm-4">

						<div class="row text-center" style="padding-bottom:10px;">
							<button id="AgregaEmail" name="AgregaEmail" value="AgregaEmail" type="button" class="btn btn-success btn-lg col-md-8" style="float:right;margin-right:10%;"><span class="glyphicon glyphicon-plus"></span>Agregar Email</button>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label" for="Email">Email:</label> {{if .Cliente.EMediosDeContactoCliente.MediosDeContacto.ECorreosMediosDeContacto.IEstatus}}
							<input type="text" name="CorreoPrincipal" id="CorreoPrincipal" value="{{.Cliente.EMediosDeContactoCliente.MediosContacto.ECorreosMediosDeContacto.Correo.EPrincipalCorreos.Principal}}"
							 hidden>
							<div class="col-sm-8 has-feedback has-error">
								<input type="text" name="Email" id="Email" class="form-control" aria-required="true" aria-describedby="Email-error" aria-invalid="true">
								<span class="glyphicon form-control-feedback glyphicon-remove"></span>

								<em id="Email-error" class="error help-block">{{.Cliente.EMediosDeContactoCliente.MediosContacto.ECorreosMediosDeContacto.IMsj}}</em>
							</div>
							{{else}}
							<input type="text" name="CorreoPrincipal" id="CorreoPrincipal" value="{{.Cliente.EMediosDeContactoCliente.MediosDeContacto.ECorreosMediosDeContacto.Correos.EPrincipalCorreos.Principal}}"
							 hidden>
							<div class="col-sm-8">
								<input type="email" name="Email" id="Email" class="form-control" value="">
							</div>
							{{end}}
						</div>
						<h3 class="text-center"><strong>Correos</strong></h3>
						<div class="col-sm-12 table-responsive container" id="div_tabla_correos">
							<table class="table table-condensed table-hover">
								<thead class="thead-inverse">
									<tr>
										<th>Principal</th>
										<th>Correos</th>
										<th>Eliminar</th>
									</tr>
								</thead>
								<tbody id="tbody_etiquetas_correos">
									{{.Cliente.EMediosDeContactoCliente.MediosDeContacto.ECorreosMediosDeContacto.Correos.ECorreosCorreos.Ihtml}}
								</tbody>
							</table>
						</div>

					</div>

					<div class="col-sm-4">
						<div class="row text-center" style="padding-bottom:10px;">
							<button id="AgregaTelefono" name="AgregaTelefono" value="AgregaTelefono" type="button" class="btn btn-success btn-lg col-md-8"
							 style="float:right;margin-right:10%;"><span class="glyphicon glyphicon-plus"></span>Agregar Telefono</button>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label" for="Telefono">Telefono:</label> {{if .Cliente.EMediosDeContactoCliente.MediosDeContacto.ETelefonosMediosDeContacto.IEstatus}}
							<input type="text" name="TelefonoPrincipal" id="TelefonoPrincipal" value="{{.Usuario.EMediosDeContactoUsuario.ETelefonos.Principal}}"
							 hidden>
							<div class="col-sm-8 has-feedback has-error">
								<input type="text" name="Telefono" id="Telefono" class="form-control" aria-required="true" aria-describedby="Telefono-error"
								 aria-invalid="true">
								<span class="glyphicon form-control-feedback glyphicon-remove"></span>
								<em id="Telefono-error" class="error help-block">{{.Usuario.EMediosDeContactoUsuario.ETelefonos.IMsj}}</em>
							</div>
							{{else}}
							<input type="text" name="TelefonoPrincipal" id="TelefonoPrincipal" value="{{.Cliente.EMediosDeContactoCliente.MediosDeContacto.ETelefonosMediosDeContacto.Telefonos.EPrincipalTelefonos.Principal}}"
							 hidden>
							<div class="col-sm-8">
								<input type="text" name="Telefono" id="Telefono" class="form-control">
							</div>
							{{end}}
						</div>
						<h3 class="text-center"><strong>Telefonos</strong></h3>
						<div class="col-sm-12 table-responsive container" id="div_tabla_telefonos">
							<table class="table table-condensed table-hover">
								<thead class="thead-inverse">
									<tr>
										<th>Principal</th>
										<th>Telefonos</th>
										<th>Eliminar</th>
									</tr>
								</thead>
								<tbody id="tbody_etiquetas_telefonos">
									{{.Cliente.EMediosDeContactoCliente.MediosDeContacto.ETelefonosMediosDeContacto.Telefonos.ETelefonosTelefonos.Ihtml}}
								</tbody>
							</table>
						</div>

					</div>
					<div class="col-sm-4">
						<div class="row text-center" style="padding-bottom:10px;">
							<button id="AgregaOtro" name="AgregaOtro" value="AgregaOtro" type="button" class="btn btn-success btn-lg col-md-8" style="float:right;margin-right:10%;"><span class="glyphicon glyphicon-plus"></span>Agregar Otro Medio</button>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label" for="Otro">Otros:</label> {{if .Cliente.EMediosDeContactoCliente.MediosDeContacto.EOtrosMediosDeContacto.IEstatus}}
							<div class="col-sm-8 has-feedback has-error">

								<input type="text" name="Otro" id="Otro" class="form-control" aria-required="true" aria-describedby="Otro-error" aria-invalid="true">
								<span class="glyphicon form-control-feedback glyphicon-remove"></span>

								<em id="Otro-error" class="error help-block">{{.Cliente.EMediosDeContactoCliente.MediosDeContacto.EOtrosMediosDeContacto.IMsj}}</em>
							</div>
							{{else}}
							<div class="col-sm-8">
								<input type="text" name="Otro" id="Otro" class="form-control">
							</div>
							{{end}}
						</div>
						<h3 class="text-center"><strong>Otros</strong></h3>
						<div class="col-sm-12 table-responsive container" id="div_tabla_otros">
							<table class="table table-condensed table-hover">
								<thead class="thead-inverse">
									<tr>
										<th>Otros</th>
										<th>Eliminar</th>
									</tr>
								</thead>
								<tbody id="tbody_etiquetas_otros">
									{{.Cliente.EMediosDeContactoCliente.MediosDeContacto.EOtrosMediosDeContacto.Ihtml}}
								</tbody>
							</table>
						</div>

					</div>
				</div>
			</div>
			<div class="panel panel-info">
				<div class="panel-heading">
					<button type="button" class="btn btn-link" id="AddPersonaContacto">
						<h4>
							<span class="glyphicon glyphicon-plus" ></span>
          					Agregar Persona Contacto
						</h4>
					</button>
					<input type="hidden" id="ContadorPerCont" name="ContadorPerCont" value="{{.Cliente.EPersonasContactoCliente.NumPerCont}}">
					<div id="identificadoresPersonas"></div>
				</div>
			</div>
			<div id="PersonasContactos">
				{{.Cliente.EPersonasContactoCliente.Ihtml}}
			</div>

			<div class="form-group">
				<div class="col-md-9 text-right">
					<button type="button" onclick="window.location.href = '/Clientes';" class="btn btn-default btn-lg">Index</button>
					<button type="submit" class="btn btn-primary btn-lg">Guardar</button>
				</div>
			</div>
		</form>
	</div>
</body>

<footer>

	{{template "footer_layout"}}

</footer>

<!-- FIN BODY -->

<!-- FIN PAGINA -->

</html>